@tailwind base;
@tailwind components;

    body {
        font-family: 'Nunito';
        @apply bg-gray-50;
    }

    .disabled {
        @apply opacity-50 cursor-not-allowed focus:ring-0 focus:ring-offset-0;
    }

    /* BUTTON */
    .btn {
        @apply inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500;
    }

    .btn-sm {
        @apply px-2 py-1;
    }

    .btn-md {
        @apply px-3 py-2;
    }

    .btn-lg {
        @apply px-4 py-2 text-sm;
    }

    .btn-primary {
        @apply text-white bg-blue-500 hover:bg-blue-600 focus:ring-blue-400;
    }

    .btn-circle {
        @apply p-1.5 rounded-full ;
    }

    .btn-circle-sm {
        @apply p-1 rounded-full ;
    }

    .btn-circle-md {
        @apply p-2 rounded-full ;
    }
    .btn-circle-lg {
        @apply p-3 rounded-full ;
    }

    /* INPUT TEXT */
    .input-container {

    }

    .input-container > .input-header {
        @apply flex justify-between items-end;
    }

    .input-container > .input-header > .left {
        @apply text-base;
    }

    .input-container > .input-header > .right {
        @apply opacity-70 italic text-sm;
    }

    .input-container > .input-footer {
        @apply flex justify-between items-start mt-1 opacity-70 text-sm;
    }

    .input-container > .input-footer > .left {
        @apply italic;
    }
    .input-container > .input-footer > .right {
        @apply text-xs;
    }

    .input-container > .input {
        @apply w-full rounded bg-gray-200 border-0 border-transparent focus:bg-white focus:outline-none focus:ring-2 focus:ring-gray-500;
    }

    .input-container > .input-sm {
        @apply  py-1.5 px-2.5 text-sm;
    }

@tailwind utilities;
