<template>
    <div class="p-4 ">
        <h1 class="text-2xl">List of Components</h1>

        <div class="py-4">

            <!-- BUTTON -->
            <div class="">
                <h1 class="font-bold text-xl">Buttons</h1>
                <div class="py-2">
                    <h1 class="font-semibold">Default buttons</h1>
                    <div class="space-x-4">
                        <button class="btn btn-sm">Button small</button>
                        <button class="btn ">Button default</button>
                        <button class="btn btn-md">Button medium</button>
                        <button class="btn btn-lg">Button large</button>
                    </div>
                </div>
                <div class="py-2">
                    <h1 class="font-semibold">Primary buttons</h1>
                    <div class="space-x-4">
                        <button class="btn btn-sm btn-primary">Button small</button>
                        <button class="btn btn-primary">Button default</button>
                        <button class="btn btn-md btn-primary">Button medium</button>
                        <button class="btn btn-lg btn-primary">Button large</button>
                    </div>
                </div>
                <div class="py-2">
                    <h1 class="font-semibold">Disabled buttons</h1>
                    <div class="space-x-4">
                        <button class="btn btn-sm btn-primary disabled">Button small</button>
                        <button class="btn btn-primary disabled">Button default</button>
                        <button class="btn btn-md btn-primary disabled">Button medium</button>
                        <button class="btn btn-lg btn-primary disabled">Button large</button>
                    </div>
                </div>
                <div class="py-2">
                    <h1 class="font-semibold">Circular buttons</h1>
                    <div class="space-x-4">
                        <button class="btn btn-primary btn-circle-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                            </svg>
                        </button>
                        <button class="btn btn-primary btn-circle">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                            </svg>
                        </button>
                        <button class="btn btn-primary btn-circle-md">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                            </svg>
                        </button>
                        <button class="btn btn-primary btn-circle-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <!-- INPUT TEXT -->
            <div class="mt-5">
                <h1 class="font-bold text-xl">Input Text</h1>
                <div class="py-2 max-w-xs">
                    <h1 class="font-semibold">Default</h1>
                    <div class="input-container">
                        <div class="input-header">
                            <label for="" class="left">Email</label>
                            <label for="" class="right">Optional</label>
                        </div>
                        <input type="text" class="input">
                        <div class="input-footer">
                            <span class="left">this is help text</span>
                            <span class="right">200/200</span>
                        </div>
                    </div>
                </div>
                <div class="py-2 max-w-xs">
                    <h1 class="font-semibold">Small</h1>
                    <div class="input-container">
                        <div class="input-header">
                            <label for="" class="left">Email</label>
                            <label for="" class="right">Optional</label>
                        </div>
                        <input type="text" class="input input-sm">
                        <div class="input-footer">
                            <span class="left">this is help text</span>
                            <span class="right">200/200</span>
                        </div>
                    </div>
                </div>
                <div class="py-2 max-w-xs">
                    <h1 class="font-semibold">Disabled</h1>
                    <div class="input-container">
                        <div class="input-header ">
                            <label for="" class="left disabled">Email</label>
                            <!-- <label for="" class="right">Optional</label> -->
                        </div>
                        <input disabled type="text" class="disabled input input-sm">
                        <!-- <div class="input-footer">
                            <span class="left">this is help text</span>
                            <span class="right">200/200</span>
                        </div> -->
                    </div>
                </div>
            </div>

            <!-- CHECKBOX -->
            <div class="mt-5">
                <h1 class="font-bold text-xl">Checkbox</h1>
            </div>

            <!-- RADIO BUTTON -->
            <div class="mt-5">
                <h1 class="font-bold text-xl">Radio Button</h1>
            </div>

            <!-- COMBO BOX -->
            <div class="mt-5">
                <h1 class="font-bold text-xl">Combo box</h1>
            </div>

            <!-- TABLE -->
            <div class="mt-5">
                <h1 class="font-bold text-xl">Table</h1>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
